#header{
    width: 1100px;
    height: 80px;
    margin: 0 auto;
    /*background: linear-gradient( rgba(227, 126, 94, 0.5), rgba(227, 126, 94, 0.5));*/
}
.banner{
    width: 100%;
    height:70px;
    overflow: hidden;
    margin-top: 80px;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    box-sizing: border-box;
}
.banner ul{
    width: 73%;
    height: 60px;
    float: left;
}
.blogStats{
    width: 25%;
    height: 40px;
    float: right;
    color: #757575;
    margin-right: 5px;
    text-align: right;
    margin-top: 25px;
    font-size: 13px;
}
.banner ul li{
    line-height: 50px;
    padding:8px 9px;
}
.banner ul li:last-child img{
    width: 43px;
    height: 43px;
    display: block;
    margin-top: 6px;
    margin-left: -60px;
}
.banner ul li a{
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}
#blog-news ul li a{
    text-align: center;
}
.logo{
    width: 200px;
    height: 38px;
    background:url("../images/banana/logo.png") -30px 0px;
    background-size: 350px ;
}
input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #3e3e3e;
    /* placeholder字体大小  */
    /* placeholder位置  */
    text-indent: 12px;
}
#search{
    width: 190px;
    height: 26px;
    border-radius: .3em;
    background: transparent;
    border: 1px solid #fff;
}
